Stardust.Core.ServicesTest/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pragma.Core.Services.Messaging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pragma.Core.Services.Messaging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DuplexMessageBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Environment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecutionTime" type="xs:long" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferingMessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DuplexMessageBase" nillable="true" type="tns:DuplexMessageBase" />
</xs:schema>