Stardust.Core.ServicesTest/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Pragma.User.Jsy.Demo.SimpleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Pragma.User.Jsy.Demo.SimpleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3107/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pragma.Core.Services.Messaging" />
  <xs:complexType name="CompositeType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Pragma.Core.Services.Messaging" base="q1:DuplexMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
          <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>