testClient/Service References/SearchService/Search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://service.dyn.no/IServiceManagementSoap" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.dyn.no/IServiceManagementSoap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service.dyn.no/IServiceManagementSoap/Imports">
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/O1881.Search.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/O1881.Porcupine.ServiceModel" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/O1881.Utility.Search.Simple" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.DataType" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/O1881.Utility.Search" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.Domain" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.Domain.OpeningHours" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.Domain.ReferenceValue" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/O1881.Utility.Search.Navigator" />
      <xsd:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.VKSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceManagement_SetLogLevel_InputMessage">
    <wsdl:part xmlns:q1="http://tempuri.org/" name="parameters" element="q1:SetLogLevel" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_SetLogLevel_OutputMessage">
    <wsdl:part xmlns:q2="http://tempuri.org/" name="parameters" element="q2:SetLogLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_SetStatisticsLoggingDepth_InputMessage">
    <wsdl:part xmlns:q3="http://tempuri.org/" name="parameters" element="q3:SetStatisticsLoggingDepth" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_SetStatisticsLoggingDepth_OutputMessage">
    <wsdl:part xmlns:q4="http://tempuri.org/" name="parameters" element="q4:SetStatisticsLoggingDepthResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_PurgeConfigCache_InputMessage">
    <wsdl:part xmlns:q5="http://tempuri.org/" name="parameters" element="q5:PurgeConfigCache" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_PurgeConfigCache_OutputMessage">
    <wsdl:part xmlns:q6="http://tempuri.org/" name="parameters" element="q6:PurgeConfigCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_PurgeAllCaches_InputMessage">
    <wsdl:part xmlns:q7="http://tempuri.org/" name="parameters" element="q7:PurgeAllCaches" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_PurgeAllCaches_OutputMessage">
    <wsdl:part xmlns:q8="http://tempuri.org/" name="parameters" element="q8:PurgeAllCachesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_PurgeCache_InputMessage">
    <wsdl:part xmlns:q9="http://tempuri.org/" name="parameters" element="q9:PurgeCache" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_PurgeCache_OutputMessage">
    <wsdl:part xmlns:q10="http://tempuri.org/" name="parameters" element="q10:PurgeCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_ServiceInfo_InputMessage">
    <wsdl:part xmlns:q11="http://tempuri.org/" name="parameters" element="q11:ServiceInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceManagement_ServiceInfo_OutputMessage">
    <wsdl:part xmlns:q12="http://tempuri.org/" name="parameters" element="q12:ServiceInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceManagement">
    <wsdl:operation name="SetLogLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManagement/SetLogLevel" message="tns:IServiceManagement_SetLogLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManagement/SetLogLevelResponse" message="tns:IServiceManagement_SetLogLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStatisticsLoggingDepth">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManagement/SetStatisticsLoggingDepth" message="tns:IServiceManagement_SetStatisticsLoggingDepth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManagement/SetStatisticsLoggingDepthResponse" message="tns:IServiceManagement_SetStatisticsLoggingDepth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurgeConfigCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManagement/PurgeConfigCache" message="tns:IServiceManagement_PurgeConfigCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManagement/PurgeConfigCacheResponse" message="tns:IServiceManagement_PurgeConfigCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurgeAllCaches">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManagement/PurgeAllCaches" message="tns:IServiceManagement_PurgeAllCaches_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManagement/PurgeAllCachesResponse" message="tns:IServiceManagement_PurgeAllCaches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PurgeCache">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManagement/PurgeCache" message="tns:IServiceManagement_PurgeCache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManagement/PurgeCacheResponse" message="tns:IServiceManagement_PurgeCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManagement/ServiceInfo" message="tns:IServiceManagement_ServiceInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManagement/ServiceInfoResponse" message="tns:IServiceManagement_ServiceInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>