testClient/Service References/SearchService/Search7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/O1881.Porcupine.ServiceModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/O1881.Porcupine.ServiceModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.DataType" />
  <xs:complexType name="RequestMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Environment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnStatistics" type="xs:boolean" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemSource" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestMetadata" nillable="true" type="tns:RequestMetadata" />
  <xs:complexType name="ResultMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExecutionTimeMilliseconds" type="xs:double" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.DataType" minOccurs="0" name="StatisticsSection" nillable="true" type="q1:StatisticsSection" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Opplysningen.VK1881.Model.DataType" minOccurs="0" name="Status" type="q2:Status" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMetadata" nillable="true" type="tns:ResultMetadata" />
  <xs:complexType name="ServiceInfoValues">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfigServiceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfigVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Environment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogFileDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogServiceUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MachineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatisticsLevel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceInfoValues" nillable="true" type="tns:ServiceInfoValues" />
</xs:schema>