testClient/Service References/SearchService/Search8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/O1881.Utility.Search.Navigator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/O1881.Utility.Search.Navigator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1503/Search.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/O1881.Utility.Search.Simple" />
  <xs:complexType name="ArrayOfNavigatorNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NavigatorNode" nillable="true" type="tns:NavigatorNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNavigatorNode" nillable="true" type="tns:ArrayOfNavigatorNode" />
  <xs:complexType name="NavigatorNode">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/O1881.Utility.Search.Simple" minOccurs="0" name="Filter" nillable="true" type="q1:Filter" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nodes" nillable="true" type="tns:ArrayOfNavigatorNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NavigatorNode" nillable="true" type="tns:NavigatorNode" />
</xs:schema>